In [22]:
import pandas as pd
import numpy as np

In [23]:
tripsWithWeather = pd.read_csv('data/tripsWithWeather.csv')
tripTrain = pd.read_csv('data/trip_train.csv')
tripTest = pd.read_csv('data/trip_test.csv')

In [24]:
tripsWithWeather.head()

,date,id,duration,station,station_id,subscription_type,time,day_of_week,month,year,...,max_visibility_miles,mean_visibility_miles,min_visibility_miles,max_wind_Speed_mph,mean_wind_speed_mph,max_gust_speed_mph,precipitation_inches,cloud_cover,events,wind_dir_degrees
0,2013-09-02,8808,827,Market at 4th,76,1,1236,0,9,2013,...,10.0,10.0,6.0,23.0,12.0,30.0,0.0,6.0,Normal,277.0
1,2013-09-02,8589,27908,Market at 4th,76,1,951,0,9,2013,...,10.0,10.0,6.0,23.0,12.0,30.0,0.0,6.0,Normal,277.0
2,2013-09-02,9352,610,Market at 4th,76,1,2206,0,9,2013,...,10.0,10.0,6.0,23.0,12.0,30.0,0.0,6.0,Normal,277.0
3,2013-09-02,8988,7231,Market at 4th,76,1,1431,0,9,2013,...,10.0,10.0,6.0,23.0,12.0,30.0,0.0,6.0,Normal,277.0
4,2013-09-02,9354,12603,Market at 4th,76,1,2219,0,9,2013,...,10.0,10.0,6.0,23.0,12.0,30.0,0.0,6.0,Normal,277.0

In [25]:
tripsWithWeather.dtypes

date                               object
id                                  int64
duration                            int64
station                            object
station_id                          int64
subscription_type                   int64
time                                int64
day_of_week                         int64
month                               int64
year                                int64
dayofyear                           int64
is_holiday                           bool
zip_code                            int64
max_temperature_f                 float64
mean_temperature_f                float64
min_temperature_f                 float64
max_dew_point_f                   float64
mean_dew_point_f                  float64
min_dew_point_f                   float64
max_humidity                      float64
mean_humidity                     float64
min_humidity                      float64
max_sea_level_pressure_inches     float64
mean_sea_level_pressure_inches    float64
min_sea_level_pressure_inches     float64
max_visibility_miles              float64
mean_visibility_miles             float64
min_visibility_miles              float64
max_wind_Speed_mph                float64
mean_wind_speed_mph               float64
max_gust_speed_mph                float64
precipitation_inches              float64
cloud_cover                       float64
events                             object
wind_dir_degrees                  float64
dtype: object

In [26]:
tripsWithWeather.shape

(540624, 35)

In [29]:
tripWeather =  pd.merge(tripsWithWeather, tripTrain.loc[:,['id', 'duration']], how = 'inner', on = 'id')
tripWeather.head()

,date,id,duration_x,station,station_id,subscription_type,time,day_of_week,month,year,...,mean_visibility_miles,min_visibility_miles,max_wind_Speed_mph,mean_wind_speed_mph,max_gust_speed_mph,precipitation_inches,cloud_cover,events,wind_dir_degrees,duration_y
0,2013-09-02,8808,827,Market at 4th,76,1,1236,0,9,2013,...,10.0,6.0,23.0,12.0,30.0,0.0,6.0,Normal,277.0,827
1,2013-09-02,8589,27908,Market at 4th,76,1,951,0,9,2013,...,10.0,6.0,23.0,12.0,30.0,0.0,6.0,Normal,277.0,27908
2,2013-09-02,9352,610,Market at 4th,76,1,2206,0,9,2013,...,10.0,6.0,23.0,12.0,30.0,0.0,6.0,Normal,277.0,610
3,2013-09-02,8988,7231,Market at 4th,76,1,1431,0,9,2013,...,10.0,6.0,23.0,12.0,30.0,0.0,6.0,Normal,277.0,7231
4,2013-09-02,9354,12603,Market at 4th,76,1,2219,0,9,2013,...,10.0,6.0,23.0,12.0,30.0,0.0,6.0,Normal,277.0,12603

In [30]:
tripsWithWeather.shape

(540624, 35)

In [31]:
tripTrain.shape

(549961, 11)

In [36]:
tripsWithWeather.loc[lambda x: x['duration'] > 4800]['id'].count()

13966

In [39]:
trainTW = tripsWithWeather.drop(['date', 'station'], axis=1, level=None, inplace=False)

In [42]:
trainTW.dtypes

id                                  int64
duration                            int64
station_id                          int64
subscription_type                   int64
time                                int64
day_of_week                         int64
month                               int64
year                                int64
dayofyear                           int64
is_holiday                           bool
zip_code                            int64
max_temperature_f                 float64
mean_temperature_f                float64
min_temperature_f                 float64
max_dew_point_f                   float64
mean_dew_point_f                  float64
min_dew_point_f                   float64
max_humidity                      float64
mean_humidity                     float64
min_humidity                      float64
max_sea_level_pressure_inches     float64
mean_sea_level_pressure_inches    float64
min_sea_level_pressure_inches     float64
max_visibility_miles              float64
mean_visibility_miles             float64
min_visibility_miles              float64
max_wind_Speed_mph                float64
mean_wind_speed_mph               float64
max_gust_speed_mph                float64
precipitation_inches              float64
cloud_cover                       float64
events                             object
wind_dir_degrees                  float64
dtype: object

In [ ]:
trainTWCategories = trainTW.loc[:,['']]