In [2]:
import pandas as pd
import numpy as np

In [3]:
station = pd.read_csv('data/station.csv', usecols=['id','city'])
station.head(3)

   id      city
0   2  San Jose
1   3  San Jose
2   4  San Jose

In [4]:
trip = pd.read_csv('data/trip_train.csv',
                   usecols=['duration', 'start_date', 'start_station_id', 'subscription_type'])
trip.head(3)

   duration       start_date  start_station_id subscription_type
0       396   8/27/2015 8:36                50        Subscriber
1       636  7/28/2014 22:06                67        Subscriber
2       334    6/9/2014 8:42                77        Subscriber

In [5]:
weather = pd.read_csv('data/weather.csv')

In [18]:
def preprocess(station, weather, trip):
    station = preprocessStation(station)
    weather = preprocessWeather(weather)
    trip = preprocessTrip(trip)
    trip = trip.merge(station, left_on='start_station_id', right_on='id', inplace=True)
    trip = trip.merge(weather, left_on=['start_date', 'zip_code'], right_on=['date', 'zip_code'], how='left')
    return trip
    
def preprocessStation(df):
    df = df.copy()
    df["zip_code"] = df.city.apply(zipCode)
    df.drop(labels=['city'], axis=1, inplace=True)
    return df

def preprocessTrip(df):
    df = df.copy()
    df['start_date'] = df['start_date'].apply(lambda x : pd.to_datetime(x))
    df['time'] = df.start_date.apply(lambda x: 60 * x.hour + x.minute)
    df['year'] = df.start_date.apply(lambda x : x.year)
    df['month'] = df.start_date.apply(lambda x : x.month)
    df['day'] = df.start_date.apply(lambda x : x.day)
    df['dayofweek'] = df.start_date.apply(lambda x : x.isoweekday())
#    df = df.merge(holidays.to_frame(), left_on='start_date', right_on=holidays.to_frame().index, how='outer')
    return df

def preprocessWeather(df):
    df = df.copy()
    cleanPrecipitation(df)
    cleanEvents(df)
    df = df.fillna(0)
    df['date'] = df.date.apply(lambda x: pd.to_datetime(x).date())
    return df

def zipCode(city):
    if city == 'San Francisco' : return 94107
    elif city == 'San Jose' : return 95113
    elif city == 'Redwood City' : return 94063
    elif city == 'Palo Alto' : return 94301
    elif city == 'Mountain View' : return 94041

def cleanPrecipitation(df):
    df.dropna(subset=["precipitation_inches"], inplace=True)
    df['precipitation_inches'] = df.precipitation_inches.apply(lambda x:
                                                               0.005 if (x == 'T')
                                                               else float(x))
def cleanEvents(df):
    df['events'] = df.events.apply(lambda x: "Normal" if pd.isnull(x) else x)
    df['events'] = df.events.apply(lambda x: "Rain" if x == "rain" else x)

from pandas.tseries.holiday import USFederalHolidayCalendar as calendarUSFH
cal = calendarUSFH()
holidays = cal.holidays(return_name=True, start=pd.to_datetime('20130101'), end=pd.to_datetime('20151231'))

In [10]:
station.head(1)

   id  zip_code
0   2     95113

In [11]:
preprocessTrip(trip)
trip.head(1)

,duration,start_date,start_station_id,subscription_type,time,year,month,day,dayofweek
0,396,2015-08-27 08:36:00,50,Subscriber,516,2015,8,27,4

In [16]:
pd.merge(trip, station, left_on='start_station_id', right_on='id')

,duration,start_date,start_station_id,subscription_type,time,year,month,day,dayofweek,id,zip_code
0,396,2015-08-27 08:36:00,50,Subscriber,516,2015,8,27,4,50,94107
1,4120,2014-08-30 14:44:00,50,Customer,884,2014,8,30,6,50,94107
2,4675,2014-03-23 16:25:00,50,Customer,985,2014,3,23,7,50,94107
3,1595,2014-05-26 13:01:00,50,Customer,781,2014,5,26,1,50,94107
4,384,2013-12-23 08:48:00,50,Subscriber,528,2013,12,23,1,50,94107
5,1336,2014-12-07 12:06:00,50,Subscriber,726,2014,12,7,7,50,94107
6,1090,2015-08-26 08:07:00,50,Subscriber,487,2015,8,26,3,50,94107
7,488,2014-11-18 09:11:00,50,Subscriber,551,2014,11,18,2,50,94107
8,330,2014-12-16 08:08:00,50,Subscriber,488,2014,12,16,2,50,94107
9,732,2015-05-08 16:26:00,50,Subscriber,986,2015,5,8,5,50,94107
10,421,2015-06-15 09:04:00,50,Subscriber,544,2015,6,15,1,50,94107
11,1126,2014-10-24 11:46:00,50,Customer,706,2014,10,24,5,50,94107
12,842,2013-11-15 15:05:00,50,Subscriber,905,2013,11,15,5,50,94107
13,371,2015-03-06 08:26:00,50,Subscriber,506,2015,3,6,5,50,94107
14,1093,2013-09-09 07:58:00,50,Subscriber,478,2013,9,9,1,50,94107
15,427,2014-12-02 06:20:00,50,Subscriber,380,2014,12,2,2,50,94107
16,9624,2014-06-29 13:24:00,50,Customer,804,2014,6,29,7,50,94107
17,198,2013-11-07 09:36:00,50,Subscriber,576,2013,11,7,4,50,94107
18,2132,2014-02-22 15:21:00,50,Subscriber,921,2014,2,22,6,50,94107
19,1370,2013-11-23 15:02:00,50,Customer,902,2013,11,23,6,50,94107
20,653,2015-08-17 07:43:00,50,Subscriber,463,2015,8,17,1,50,94107
21,136,2013-12-21 07:58:00,50,Subscriber,478,2013,12,21,6,50,94107
22,903,2013-11-23 13:43:00,50,Customer,823,2013,11,23,6,50,94107
23,252,2015-08-04 19:55:00,50,Subscriber,1195,2015,8,4,2,50,94107
24,321,2015-06-04 08:03:00,50,Subscriber,483,2015,6,4,4,50,94107
25,871,2015-08-31 16:50:00,50,Subscriber,1010,2015,8,31,1,50,94107
26,716,2014-11-04 07:13:00,50,Subscriber,433,2014,11,4,2,50,94107
27,548,2014-01-16 17:37:00,50,Subscriber,1057,2014,1,16,4,50,94107
28,669,2015-02-11 09:19:00,50,Subscriber,559,2015,2,11,3,50,94107
29,406,2014-10-22 14:04:00,50,Customer,844,2014,10,22,3,50,94107
...,...,...,...,...,...,...,...,...,...,...,...
549931,144,2013-10-01 15:11:00,23,Subscriber,911,2013,10,1,2,23,94063
549932,200,2013-09-24 14:20:00,23,Subscriber,860,2013,9,24,2,23,94063
549933,741,2013-09-06 15:50:00,23,Subscriber,950,2013,9,6,5,23,94063
549934,199,2014-08-19 15:08:00,23,Subscriber,908,2014,8,19,2,23,94063
549935,234,2015-02-12 15:49:00,23,Subscriber,949,2015,2,12,4,23,94063
549936,342,2013-09-30 10:43:00,23,Subscriber,643,2013,9,30,1,23,94063
549937,1674,2014-10-28 12:25:00,23,Subscriber,745,2014,10,28,2,23,94063
549938,470,2013-10-24 12:11:00,23,Subscriber,731,2013,10,24,4,23,94063
549939,1757,2015-08-18 12:22:00,23,Subscriber,742,2015,8,18,2,23,94063
549940,124,2015-04-01 22:38:00,23,Subscriber,1358,2015,4,1,3,23,94063
549941,1575,2013-11-18 12:26:00,23,Subscriber,746,2013,11,18,1,23,94063
549942,430,2015-07-20 12:17:00,23,Subscriber,737,2015,7,20,1,23,94063
549943,1575,2015-06-29 13:01:00,23,Subscriber,781,2015,6,29,1,23,94063
549944,1299,2013-10-03 13:28:00,23,Subscriber,808,2013,10,3,4,23,94063
549945,1038,2015-01-29 12:44:00,23,Subscriber,764,2015,1,29,4,23,94063
549946,211,2013-10-17 10:08:00,23,Subscriber,608,2013,10,17,4,23,94063
549947,1411,2015-01-14 12:27:00,23,Subscriber,747,2015,1,14,3,23,94063
549948,366,2014-09-09 09:41:00,23,Subscriber,581,2014,9,9,2,23,94063
549949,1562,2014-07-07 14:34:00,23,Subscriber,874,2014,7,7,1,23,94063
549950,1045,2013-08-30 12:42:00,23,Subscriber,762,2013,8,30,5,23,94063
549951,340,2015-02-12 13:03:00,23,Subscriber,783,2015,2,12,4,23,94063
549952,91045,2014-06-14 18:42:00,23,Customer,1122,2014,6,14,6,23,94063
549953,1031,2013-09-16 12:50:00,23,Subscriber,770,2013,9,16,1,23,94063
549954,687,2015-07-01 08:06:00,23,Subscriber,486,2015,7,1,3,23,94063
549955,66,2013-09-11 12:03:00,23,Subscriber,723,2013,9,11,3,23,94063
549956,258,2013-09-27 12:56:00,23,Subscriber,776,2013,9,27,5,23,94063
549957,140,2013-10-02 16:14:00,23,Subscriber,974,2013,10,2,3,23,94063
549958,180,2015-08-18 13:48:00,23,Subscriber,828,2015,8,18,2,23,94063
549959,3770,2015-02-14 15:32:00,23,Customer,932,2015,2,14,6,23,94063
549960,251,2014-11-07 14:06:00,23,Subscriber,846,2014,11,7,5,23,94063

In [17]:
weather.head(1)

,date,max_temperature_f,mean_temperature_f,min_temperature_f,max_dew_point_f,mean_dew_point_f,min_dew_point_f,max_humidity,mean_humidity,min_humidity,...,mean_visibility_miles,min_visibility_miles,max_wind_Speed_mph,mean_wind_speed_mph,max_gust_speed_mph,precipitation_inches,cloud_cover,events,wind_dir_degrees,zip_code
0,8/29/2013,74.0,68.0,61.0,61.0,58.0,56.0,93.0,75.0,57.0,...,10.0,10.0,23.0,11.0,28.0,0,4.0,NaN,286.0,94107